<section class="content">
  <div class="header js-bg"></div>

  <section class="main-content">
    <nav class="top-bar">
      <span class="js-menu menu icon icon-three-bars"></span>
    </nav>
    <div class="card">
      
    </div>
    
  </section>
</section>
